* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 1280px;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .header__navbar {
    display: none;
  }
}

.hamburger {
  display: none;
}
@media (max-width: 375px) {
  .hamburger {
    display: block;
  }
}

.header__navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__navbar ul li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

@media (max-width: 768px) {
  .header__logo {
    margin-bottom: 0px;
  }
}

@media (max-width: 375px) {
  .logojon {
    width: 150px;
    height: 15px;
  }
}

.ad__block {
  height: 600px;
  background-image: url(../../img/ad__Bitmap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 150px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .ad__block {
    height: 500px;
    padding-left: 40px;
  }
}
@media (max-width: 375px) {
  .ad__block {
    padding-left: 0px;
    align-items: center;
  }
}

.ad__headline {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  width: 450px;
}
@media (max-width: 768px) {
  .ad__headline {
    color: #FEFCF7;
    font-size: 48px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    width: 360px;
  }
}
@media (max-width: 375px) {
  .ad__headline {
    text-align: center;
  }
}

.ad__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 400px;
  margin-top: -32px;
}
@media (max-width: 768px) {
  .ad__text {
    color: #FEFCF7;
    font-size: 15px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 380px;
    margin-top: -20px;
  }
}
@media (max-width: 375px) {
  .ad__text {
    text-align: center;
  }
}

.ad__btn {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 30px;
  border: none;
}

.ad__btn:hover {
  background-color: #FEFCF7;
  color: #0E8784;
  cursor: pointer;
  border: none;
}

.collection__headline {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  text-align: center;
  color: #83888F;
  margin-bottom: 50px;
  margin-top: 125px;
}
@media (max-width: 768px) {
  .collection__headline {
    color: #83888F;
    text-align: center;
    font-size: 96px;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
  }
}
@media (max-width: 375px) {
  .collection__headline {
    font-size: 40px;
  }
}

.collection__headline::before {
  content: url(../../img/collect.png);
  display: inline-block;
  position: absolute;
  width: 1111px;
  height: 196px;
  top: 730px;
}
@media (max-width: 768px) {
  .collection__headline::before {
    width: 689px;
    height: 118px;
    top: 630px;
  }
}

.collection__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .collection__info {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
  }
}
@media (max-width: 375px) {
  .collection__info {
    padding-left: 45px;
  }
}

.collection__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
}
@media (max-width: 768px) {
  .collection__box {
    width: 255px;
    flex-wrap: wrap;
    height: 230px;
  }
}
@media (max-width: 375px) {
  .collection__box {
    width: 280px;
    flex-wrap: nowrap;
    height: auto;
  }
}

.collection__img {
  width: 256px;
  height: 193px;
}
@media (max-width: 375px) {
  .collection__img {
    width: 200px;
    height: 150px;
  }
}

.collection__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin: 10px 0px;
}

.collection__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  margin: 10px 0px;
}

.survey__quest {
  background-image: url(../../img/Mask\ \(1\).png);
  height: 577px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}
@media (max-width: 375px) {
  .survey__quest {
    height: 900px;
  }
}

.survey__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 75px;
}
@media (max-width: 768px) {
  .survey__title {
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }
}

.survey__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 500px;
}
@media (max-width: 768px) {
  .survey__text {
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}
@media (max-width: 375px) {
  .survey__text {
    width: 260px;
  }
}

.survey__boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -200px;
}
@media (max-width: 768px) {
  .survey__boxes {
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 375px) {
  .survey__boxes {
    margin-top: -570px;
  }
}

.survey__box {
  width: 350px;
  height: 380px;
  background: #0E8784;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .survey__box {
    width: 553px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
.survey__box img {
  margin: 35px 0px 50px 45px;
}
@media (max-width: 375px) {
  .survey__box img {
    margin: 0px;
  }
}
@media (max-width: 375px) {
  .survey__box {
    width: 279px;
    height: 382px;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.box__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
@media (max-width: 768px) {
  .box__title {
    text-align: start;
  }
}

.box__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  width: 255px;
}
@media (max-width: 768px) {
  .box__text {
    width: 355px;
    text-align: start;
    margin-top: -5px;
  }
}
@media (max-width: 375px) {
  .box__text {
    width: 200px;
    margin-top: 0px;
    text-align: center;
  }
}

.process__block {
  margin-top: 180px;
}

.process__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
@media (max-width: 375px) {
  .process__title {
    text-align: center;
  }
}

.process__path {
  display: flex;
  gap: 336px;
}
@media (max-width: 768px) {
  .process__path {
    gap: 187px;
  }
}
@media (max-width: 375px) {
  .process__path {
    display: none;
  }
}

.process__path::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 0;
  border: 2px solid #FDD6BA;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .process__path::after {
    width: 450px;
  }
}

.oval__copy {
  z-index: 1;
}

.process__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .process__info {
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .process__info {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.info__box {
  width: 309px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 375px) {
  .info__box {
    align-items: center;
  }
}

.process__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.process__name {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
@media (max-width: 375px) {
  .process__name {
    font-size: 28px;
  }
}

.process__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
@media (max-width: 375px) {
  .process__text {
    font-size: 15px;
    width: 220px;
    text-align: center;
  }
}

.process__btn {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 30px;
  border: none;
}
@media (max-width: 375px) {
  .process__btn {
    margin-left: 80px;
  }
}

.footer__block {
  background: #2C343E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .footer__block {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
}

.social__nets {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 230px;
}
@media (max-width: 768px) {
  .social__nets {
    margin-left: 0px;
  }
}

.footer__navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 375px) {
  .footer__navbar ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}
.footer__navbar li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}/*# sourceMappingURL=main.css.map */