.ad__block {
    height: 600px;
    background-image: url(../../img/ad__Bitmap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}



