.collection__headline {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
    margin-bottom: 50px;
    margin-top: 125px;
    @media (max-width:$table) {
      color: #83888F;
      text-align: center;
      font-size: 96px;
      font-family: Fraunces 9pt;
      font-style: normal;
      font-weight: 900;
      line-height: 72px;
    }
    @media (max-width:$phone) {
      font-size: 40px;
    }
}

.collection__headline::before {
    content: url(../../img/collect.png);
    display: inline-block;
    position: absolute;
    width: 1111px;
    height: 196px;
    top: 730px;
    @media (max-width:$table) {
      width: 689px;
      height: 118px;
      top: 630px;
  }
}

.collection__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width:$table) {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
  }
  @media (max-width:$phone) {
    padding-left: 45px;
  }
}


.collection__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  @media (max-width:$table) {
    width: 255px;
    flex-wrap: wrap;
    height: 230px;
  }
  @media (max-width:$phone) {
    width: 280px;
    flex-wrap: nowrap;
    height: auto;
  }
}


.collection__img {
  width: 256px;
  height: 193px;
  @media (max-width:$phone) {
    width: 200px;
    height: 150px;
  }
}

.collection__title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin: 10px 0px;
}


.collection__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    margin: 10px 0px;
}