* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 1280px;
    @media (max-width:$table) {
      max-width: 768px;
      margin: 0 auto;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}